@font-face {
  font-family: "PT Sans";
  src:
  url("../fonts/PTSans.woff") format("woff"),
  url("../fonts/PTSans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src:
  url("../fonts/PTSans-Bold.woff") format("woff"),
  url("../fonts/PTSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --basic-dark: #000000;
  --basic-light: #ffffff;
  --basic-blue: #81B3D2;
  --basic-brown: #766357;
  --basic-form: #F2F2F2;
  --basic-plus: #A9A9A9;
  --second-dark: #333333;
  --second-light: #EEEEEE;
  --second-blue: #5496BD;
  --second-brown: #503E33;
  --second-form: #E5E5E5;
  --hover-blue: #669EC0;
  --hover-brown: #604E43;
  --hover-form: #EBEBEB;
  --input-catalog: rgba(255, 255, 255, 0);
  --rating-color: #666666;
  --opacity90: rgba(255, 255, 255, 0.9);
  --opacity30: rgba(255, 255, 255, 0.3);
  --shadow: rgba(0, 1, 1, 0.2);
  --developer-logo:#BDBBBC;
  --checkbox-disabled: #6A6A6A;
}

.page {
  height: 100%;
}

.page-body {
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--second-dark);
  text-align: center;

  background-color: var(--second-light);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

  min-height: 100%;
  width: 1200px;
  margin: 0 auto;

  background-color: var(--basic-light);
  box-shadow: 0px 5px 15px var(--shadow);
}
.header {
  background-color: var(--basic-light);
}
.header__nav {
  position: relative;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 1055px;
  margin: 0 auto;
}
.nav__link {
  position: absolute;
  left: 50%;

  margin-left: -69px;
}
.header__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  grid-column: 1/-1;
  grid-row: 1/-1;
  margin: 0;
  padding: 0;

  line-height: 26px;
  font-weight: 700;
  text-align: left;

  list-style: none;
}
.header-list__item:first-child,
.header-list__item:nth-child(4n),
.header-list__item:nth-child(5n) {
  flex-basis: 225px;
  flex-grow: 2;
  flex-shrink: 0;
}
.header-list__item {
  flex-basis: 297px;
  flex-grow: 3;
  flex-shrink: 0;
}
.header-list-item__link {
  display: block;
  padding: 15px 0;

  color: var(--basic-color-dark);

  text-decoration: none;
  outline: none;
}
.header-list-item__link:hover,
.header-list-item__link:focus {
  color: var(--basic-blue);
}
.header-list-item__link:active {
  opacity: 0.3;
}
.header-list-item__link--active,
.header-list-item__link--active:hover,
.header-list-item__link--active:active {
  color: var(--basic-brown);

  opacity: 1;
}
.header-list__item:nth-child(4n+3),
.header-list__item:nth-child(4n) {
  text-align: right;
}

.slogan {
  line-height: 26px;

  background-color: var(--second-blue);
  background: url("../img/shape-background-white.png") no-repeat center 452px, url("../img/photo-mountains.jpg") no-repeat center top;
}
.slogan__title {
  margin: 0;
  padding: 0;
}
.slogan__wrapper {
  display: grid;
  grid-template-rows: min-content 1fr;

  padding-top: 77px;
}
.slogan__image-text {
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
  margin-bottom: 81px;
}
.slogan__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1/-1;
  min-height: 216px;
  padding-top: 43px;
  padding-bottom: 51px;
  box-sizing: border-box;

  background-color: var(--basic-light);
}
.slogan__subtitle + P {
  width: 500px;
  margin: 0;
}
.slogan__subtitle {
  width: 470px;
  min-height: 80px;
  margin: 0 auto 15px;

  font-size: 21px;
  font-weight: 700;
  color: var(--basic-dark);
}

.reasons ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.reasons__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content min-content min-content min-content min-content;
}
.reasons__item {
  background-color: var(--second-light);
}
.reasons-item__item:nth-child(1) p {
  padding-left: 73px;
  padding-right: 60px;
}
.reasons-item__item:nth-child(2) p {
  padding-left: 51px;
  padding-right: 51px;
}
.reasons__item:nth-child(3),
.reasons__item:nth-child(4),
.reasons__item:nth-child(5) {
  padding: 47px 48px 54px;
}
.reasons-item__item:nth-child(3) p {
  padding-left: 65px;
  padding-right: 51px;
}
.reasons__item--blue {
  grid-column: 1/-1;
  background-color: var(--basic-blue);
}
.reasons__item--blue > .reasons-item__list {
  background-color: var(--basic-light);
}
.reasons__item--blue .reasons-item__number,
.reasons__item--blue .reasons-item__text,
.reasons__item--blue .reasons-item__title {
  color: var(--basic-light);
}
.reasons-item__number {
  position: relative;

  line-height: 20px;
}
.reasons-item__number::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 129px;
  width: 8px;
  height: 1px;

  background-color: var(--basic-light);
}
.reasons-item__number::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 168px;
  width: 8px;
  height: 1px;

  background-color: var(--basic-light);
}
.reasons__item:nth-child(3) > .reasons-item__number::before,
.reasons__item:nth-child(3) > .reasons-item__number::after,
.reasons__item:nth-child(4) > .reasons-item__number::before,
.reasons__item:nth-child(4) > .reasons-item__number::after,
.reasons__item:nth-child(5) > .reasons-item__number::before,
.reasons__item:nth-child(5) > .reasons-item__number::after {
  background-color: var(--second-dark);
}
.reasons-item__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.reasons__list ul{
  padding-bottom: 81px;
}
.reasons__item h3,
.reasons__item p,
.reasons__item img,
.reasons-item__item h4,
.reasons-item__item p,
.reasons-item__wrapper p:last-child {
  margin: 0;
  padding: 0;
}
.reasons__item h3,
.reasons-item__item h4 {
  width: 150px;
  margin: 0 auto;

  font-size: 21px;
  font-weight: 700;
  color: var(--basic-dark);
}
.reasons__img {
  max-width: 800px;
  height: 100%;
}
.reasons-item-item__title {
  position: relative;
}
.reasons-item-item__title::before {
  content: "";
  position: absolute;
}
.reasons-item__item:nth-child(1) h4::before {
  top: -101px;
  left: 50%;
  width: 75px;
  height: 72px;
  margin-left: -38px;
  background: url("../img/icon/icon-home.svg") no-repeat 0 0;
}
.reasons-item__item:nth-child(2) h4::before {
  top: -99px;
  left: 50%;
  width: 75px;
  height: 70px;
  margin-left: -37px;
  background: url("../img/icon/icon-eats.svg") no-repeat 0 0;
}
.reasons-item__item:nth-child(3) h4::before {
  top: -105px;
  left: 50%;
  width: 64px;
  height: 77px;
  margin-left: -32px;
  background: url("../img/icon/icon-souvenir.svg") no-repeat 0 0;
}
.reasons-item__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.reasons-item__wrapper > div {
  padding: 47px 48px;
}
.reasons__list h3,
.reasons__list h4,
.reasons__list p,
.reasons-item__wrapper p {
  margin-bottom: 26px;
}
.reasons__item p:last-child {
  margin-bottom: 0;
}
.reasons-item__description > .reasons-item__title {
  margin-bottom: 26px;
}
.reasons-item__description > .reasons-item__number,
.reasons-item__description-first > .reasons-item__number {
  margin-bottom: 25px;
}
.reasons-item__wrapper > .reasons-item__description {
  order: 1;
  padding: 50px 48px;
}
.reasons-item__item {
  padding-top: 159px;
}
.reasons__item:nth-child(3) .reasons-item__text {
  padding-left: 48px;
  padding-right: 48px;
}
.reasons__item:nth-child(4) .reasons-item__text,
.reasons__item:nth-child(5) .reasons-item__text {
  padding-left: 23px;
  padding-right: 23px;
}

.form-search {
  display: grid;
}
.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 57px;

  line-height: 24px;
  font-weight: 700;
}
.search__title {
  margin: 0;
  margin-right: 11px;

  font-size: 30px;
  color: var(--basic-dark);
}
.search__text {
  display: flex;
  align-items: center;
  width: 435px;
  height: 95px;
  margin: 0;
  margin-bottom: 19px;
  padding-top: 10px;

  font-weight: 400;
}
.search__text p {
  margin: 0;
  padding: 0;
}
.search__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 568px;
  min-height: 86px;
}
.search__link,
.result-item__button--book {
  color: var(--basic-light);

  background-color: var(--basic-brown);
  text-decoration: none;
  outline: none;
}
.search__link,
.form-search__button {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}
.search__link:hover,
.search__link:focus,
.result-item__button--book:hover,
.result-item__button--book:focus {
  background-color: var(--hover-brown);
}
.search__link:active,
.result-item__button--book:active {
  background-color: var(--second-brown);
}
.search__link:active > span,
.result-item__button--book:active > span {
  opacity: 0.3;
}

.popup {
  position: relative;
  z-index: 2;
  display: none;
}
.popup__container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  box-sizing: border-box;
  width: 568px;
  margin: 0 auto;
  padding: 55px;

  background-color: var(--basic-light);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}
.popup__title {
  margin: 0;
}
.form-search__section,
.form-search__button {
  grid-column: 1/-1;
}
.form-search__section {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 29px;
}
.form-search__section:nth-child(3) {
  margin-bottom: 54px;
}
.form-search__input--big {
  box-sizing: border-box;
  width: 346px;
  height: 38px;
  padding: 6px 35px 8px 11px;
}
.form-search__input,
.form-search__button-date,
.form-search__button-down,
.form-search__button-up {
  background-color: var(--basic-form);
  border: 2px solid var(--basic-form);
  outline: none;
}
.form-search__input:hover,
.form-search__button-down:hover,
.form-search__button-up:hover,
.form-search__button-input:hover {
  background-color: var(--hover-form);
  border: 2px solid var(--hover-form);
}
.form-search__input:hover + .form-search__button-date {
  background-color: var(--hover-form);
}
.form-search__button-down:active rect,
.form-search__button-up:active path,
.form-search__button-down:focus rect,
.form-search__button-up:focus path {
  fill: var(--basic-light);
}
.form-search__input:focus,
.form-search__input:active,
.form-search__input--mini:focus,
.form-search__input--mini:active {
  background-color: var(--basic-light);
  border: 2px solid var(--second-form);
}
.form-search__input:focus + .form-search__button-date,
.form-search__input:active + .form-search__button-date {
  background-color: var(--basic-light);
}
.form-search__button-date {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 9px;
  width: 21px;
  height: 23px;
  padding: 0;

  border: none;
}
.form-search__button-date:hover path,
.form-search__button-up:hover  path,
.form-search__button-down:hover rect {
  fill: var(--basic-dark);
}
.form-search__button-date:focus path,
.form-search__button-up:focus path,
.form-search__button-down:focus rect   {
  fill: var(--basic-blue);
}
.form-search__input--mini {
  box-sizing: border-box;
  width: 36px;
  height: 38px;

  text-align: center;
}
.popup,
.form-search__input[value] {
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-dark);
}
.form-search__label + div {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.form-search__label:first-child {
  flex-grow: 3;
  text-align: left;
}
.form-search__label:first-child + div {
  flex-grow: 4;
  flex-shrink: 1;
  justify-content: flex-start;
}
.form-search-button__wrapper:last-child {
  flex-grow: 2;
  justify-content: flex-end;
}
.form-search__button-down,
.form-search__input--mini,
.form-search__button-up {
  width: 38px;
  padding: 0;

  border: none;
}
.form-search__button-down,
.form-search__button-up,
.form-search__button-date,
.selection-form-cost__button,
.selection-form__input,
.selection-form__label {
  cursor: pointer;
}
.form-search__button-down > svg > path {
  fill: var(--basic-dark)
}
.form-search__button-down,
.form-search__button-up {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-search__button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 458px;
  padding: 16px 196px;
}
.form-search__button {
  order: 99;
}
.form-search__button,
.result-item__button--detail {
  color: var(--basic-light);

  background-color: var(--basic-blue);
  border: none;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
}
.form-search__button:hover,
.form-search__button:focus,
.result-item__button--detail:hover,
.result-item__button--detail:focus {
  background-color: var(--hover-blue);
}
.form-search__button:active,
.result-item__button--detail:active {
  background-color: var(--second-blue);
}
.form-search__button:active > span,
.result-item__button--detail:active > span {
  opacity: 0.3;
}

.map {
  background: var(--basic-blue) url("../img/map.jpg") 0 0 no-repeat;
}
.map__title {
  margin: 0;
}

.footer {
  z-index: 1;
  display: flex;
  align-items: center;
  margin-top: -128px;
  background-color: var(--opacity90);
}
.footer__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1054px;
  margin: 0 auto;
}
.inner-page + .footer {
  margin-top: 0;
  padding: 20px;
}
.footer,
.contacts-item__tel,
.contacts-item__inst {
  color: var(--basic-dark);
}
.footer ul {
  list-style: none;
}
.footer h2,
.footer p,
.footer ul {
  margin: 0;
  padding: 0;
}
.contacts,
.social,
.developers {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}
.contacts,
.developers {
  width: 327px;
}
.contacts {
  padding-bottom: 20px;
}
.social {
  padding-left: 3px;
}
.developers {
  padding-bottom: 5px;
}
.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 400px;
}
.social__list li {
  margin-right: 6px;
  margin-bottom: 6px;
}
.contacts,
.contacts__item {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}
.contacts__item {
  margin-bottom: 9px;
}
.contacts__item:last-child {
  margin-bottom: 0;
}
.contacts-item__tel,
.contacts-item__inst {
  text-decoration: none;
  outline: none;
}
.social-item__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;

  color: var(--basic-light);

  background-color: var(--basic-blue);
  outline: none;
  text-decoration: none;
}
.social-item__link:hover,
.social-item__link:focus {
  background-color: var(--hover-blue);
}
.social-item__link:active {
  background-color: var(--second-blue);
}
.social-item__link:active > svg {
  opacity: 0.3;
}
.developers__link {
  outline: none;
}
.developers__link:active path {
  fill: var(--basic-dark);

  opacity: 0.3;
}
.developers__link:hover path,
.developers__link:focus path {
  fill: var(--basic-blue);
}
.developers__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.developers__wrapper p {
  margin-right: 15px;
}

/* стили для страницы каталога*/

.selection {
  max-width: 1200px;
  margin: 0 auto;

  color: var(--basic-light);

  background: var(--basic-blue) url("../img/background-catalog.jpg") 0 0 no-repeat;
  background-size: cover;
}
.selection__form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 65px;
  width: 1055px;
  margin: 0 auto;
  padding-top: 26px;
  padding-bottom: 32px;
}
.selection-form__checkbox-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 101px;
  row-gap: 30px;
}
.selection-form__cost-wrapper {
  justify-self: end;
}
.selection-form__cost-wrapper > div {
  margin-right: 12px;
}
.selection__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
.selection-form__title,
.selection-form__list {
  text-align: left;
}
.selection-form__title {
  font-size: 16px;
  font-weight: 700;
}
.selection-form__title {
  margin-bottom: 25px;
}
.selection-form-title--cost {
  margin-bottom: 11px;
}
.selection-form-title--cost + div {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 317px;
  margin-bottom: 18px;
  padding: 6px 8px 8px 63px;
  border: 2px solid var(--basic-light);
  border-radius: 2px;
}
.selection-form-title--cost + div::before {
  content: "";
  position: absolute;
  right: 156px;
  top: 7px;
  width: 2px;
  height: 22px;
  background-color: var(--basic-light);
}
.selection-form-cost__input[value] {
  color: var(--basic-light);

  background-color: var(--input-catalog);
  border: none;
}
.selection-form-cost__input {
  width: 70px;
  border: none;
  outline: none;
}
.range-filter {
  position: relative;
  width: 316px;
  height: 25px;
  margin-bottom: 11px;
}
.selection-form-cost__no-active-line {
  height: 2px;
  background-color: var(--opacity30);
}
.selection-form-cost__active-line {
  width: 85%;
  height: 2px;
  background-color: var(--basic-light);
}
.selection-form-cost__button {
  position: absolute;
  top: -9px;
  width: 19px;
  height: 21px;
  border-radius: 50%;
  border: none;
  outline: none;
  background: url("../img/elements/filter-button.svg") no-repeat;
}
.selection-form-cost__button:hover,
.selection-form-cost__button:focus {
  width: 23px;
  height: 24px;
  background: url("../img/elements/filter-button-hover.svg") no-repeat;
}
.selection-form-cost__button--start {
  left: 0;
}
.selection-form-cost__button--finish {
  right: 45px;
}
.selection-form__button-search {
  padding: 7px 34px;

  color: inherit;

  background-color: var(--input-catalog);
  border: 2px solid var(--basic-light);
  border-radius: 2px;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
}
.selection-form__button-search:hover,
.selection-form__button-search:active,
.selection-form__button-search:focus {
  color: var(--basic-dark);

  background-color: var(--basic-light);
}
.selection-form__list {
  width: 137px;
  margin: 0;
  padding: 0;

  list-style: none;
}
.selection-form__item {
  margin-left: 39px;
  margin-bottom: 25px;
}
.selection__fieldset:nth-child(2) .selection-form__item {
  margin-left: 41px;
}
.selection-form__item:last-child {
  margin-bottom: 0;
}
.selection-form__label {
  position: relative;
}
.selection-form__input + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 23px;
  height: 23px;
  background: url(../img/elements/checkbox-off.svg) no-repeat;
}
.selection-form__input:checked + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 27px;
  height: 23px;
  background: url(../img/elements/checkbox-on.svg) no-repeat;
}
.selection-form__input:focus + label::before {
  outline: none;
  outline: thin solid;
}
.selection-form__input:disabled + label::before {
  content: "";
  position: absolute;
  left: -39px;
  top: -3px;
  width: 23px;
  height: 23px;
  background: url("../img/elements/checkbox-off-disabled.svg") no-repeat;
}
.selection-form__input:checked:disabled + label::before {
  content: "";
  position: absolute;
  left: -39px;
  top: -3px;
  width: 27px;
  height: 23px;
  background: url("../img/elements/checkbox-on-disabled.svg") no-repeat;
}

.sorting {
  text-align: left;
}
.sorting__container {
  display: grid;
  grid-template-columns: repeat(2, min-content) 1fr min-content;
  align-items: center;
  width: 1055px;
  margin: 0 auto;
}
.sorting__container div,
.sorting__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}
.sorting__list {
  margin-bottom: 3px;
}
.sorting__container div {
  flex-wrap: nowrap;
  margin-right: 46px;
}
.sorting__label {
  margin: 0;
  padding: 0;
  margin-right: 39px;
  margin-bottom: 6px;

  font-size: 12px;
  line-height: 18px;
}
.list--arrow {
  flex-wrap: nowrap;
  justify-content: space-between;
  min-width: 34px;
}
.sorting__item-search {
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  list-style: none;
}
.sorting__item-search:first-child {
  margin-top: 32px;
  margin-right: 6px;
  margin-bottom: 29px;
}
.sorting__item {
  margin-right: 34px;
}
.sorting__item:last-child {
  margin-right: 0;
}
.sorting__item-right {
  margin: 0;
  margin-top: 8px;
  margin-right: 13px;
}
.sorting__item-right:last-child {
  margin-right: 0;
}
.sorting__item {
  list-style: none;
}
.sorting__item,
.sorting__item a {
  font-size: 12px;
  line-height: 18px;
}
.sorting__item a {
  color: var(--basic-dark);

  border-bottom: 1px dashed var(--basic-blue);
  outline: none;
  text-decoration: none;
  opacity: 0.5;
}
.sorting__item-right a {
  border: none;
}
.sorting__item-right a {
  border: none;
}
.sorting__item a:hover,
.sorting__item a:focus,
.sorting__item--active a {
  color: var(--basic-blue);

  opacity: 1;
}
.sorting__item a:active {
  color: var(--basic-dark);

  border-bottom: none;
  opacity: 1;
}
.sorting__item--active a {
  border-bottom: none;
  opacity: 1;
}
.sorting-item-right-link:hover path,
.sorting-item-right-link:focus path {
  fill: var(--basic-dark);
}
.sorting-item-right-link:active path{
  fill: var(--basic-blue);
}

.result__list {
  width: 1055px;
  margin: 0;
  margin: 0 auto;
  padding: 0;
}
.result__item {
  position: relative;
  display: grid;
  grid-template-columns: min-content 1fr 250px;
  padding: 30px 0;

  list-style: none;
}
.result__item::before {
  content: "";
  position: absolute;
  left: -72px;
  top: 0;
  width: 1200px;
  height: 1px;
  background-color: var(--second-form);
}
.result__item:last-child::after {
  content: "";
  position: absolute;
  left: -72px;
  bottom: 0;
  width: 1200px;
  height: 1px;
  background-color: var(--second-form);
}
.result__item > div:first-child {
  justify-self: left;
  order: 1;
}
.result__item > div:last-child {
  order: 2;
  justify-self: end;

  text-align: right;
}
.result-star {
  margin-bottom: 40px;
}
.result__item > div {
  text-align: left;
}
.result-item__title {
  margin: 0;
  margin-top: -5px;
  margin-bottom: 7px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
.result-item__text,
.result-item__stars,
.result-item__rating {
  margin: 0;
  padding: 0;
}
.result-item__stars {
  text-align: right;
}
.result-item__rating {
  text-align: center;
}
.result-item__button--book,
.result-item__button--detail {
  padding: 4px 16px;

  font-weight: 700;
}
.result-item__button--detail,
.result-item__link {
  text-decoration: none;
}
.result-item__link {
  color: var(--basic-dark);
}
.result-item__link-image {
  width: 135px;
  height: 90px;
  margin-right: 29px;
}
.result-item__link:hover,
.result-item__link:focus,
.contacts-item__tel:hover,
.contacts-item__tel:focus,
.contacts-item__inst:hover,
.contacts-item__inst:focus {
  color: var(--basic-blue);
}
.result-item__link:active > .result-item__title,
.contacts-item__tel:active,
.contacts-item__inst:active {
  color: var(--basic-dark);

  opacity: 0.3;
}
.result-item__link + div {
  display: flex;

}
.result-item__text {
  min-width: 106px;
  margin-right: 10px;
  margin-bottom: 14px;
}
.result-button-wrapper {
  display: flex;
  justify-content: flex-start;
}
.result-button-wrapper a:first-child {
  margin-right: 8px;
}
.result-item__rating {
  padding: 3px 12px 3px 15px;

  color: var(--rating-color);

  background-color: var(--basic-form);
}
