@font-face {
  font-family: "PT Sans";
  src:
  url("../fonts/PTSans.woff") format("woff"),
  url("../fonts/PTSans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src:
  url("../fonts/PTSans-Bold.woff") format("woff"),
  url("../fonts/PTSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --basic-dark: #000000;
  --basic-light: #ffffff;
  --basic-blue: #81B3D2;
  --basic-brown: #766357;
  --basic-form: #F2F2F2;
  --basic-plus: #A9A9A9;
  --second-dark: #333333;
  --second-light: #EEEEEE;
  --second-blue: #5496BD;
  --second-brown: #503E33;
  --second-form: #E5E5E5;
  --hover-blue: #669EC0;
  --hover-brown: #604E43;
  --hover-form: #EBEBEB;
  --input-catalog: rgba(255, 255, 255, 0);
  --rating-color: #666666;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--second-dark);
  text-align: center;
}

.header {
  max-width: 1200px;
  margin: 0 auto;

  background-color: var(--basic-light);
}
.header__list {
  line-height: 26px;
  font-weight: 700;
  text-align: left;
}
.header-list__item {
  list-style-type: none;
}
.header-list-item__link {
  color: var(--basic-color-dark);

  text-decoration: none;
}
.header-list-item__link:hover {
  color: var(--basic-blue);
}
.header-list-item__link:active {
  opacity: 0.3;
}
.header-list-item__link--active,
.header-list-item__link--active:hover,
.header-list-item__link--active:active {
  color: var(--basic-brown);

  opacity: 1;
}
.header-list__item:nth-child(3),
.header-list__item:nth-child(4) {
  text-align: right;
}

.slogan {
  line-height: 26px;

  background-color: var(--second-blue);
  background: url("../img/shape-background-white.png") no-repeat center 452px, url("../img/photo-mountains.jpg") no-repeat center top;
}
.slogan__image-text {
  margin-bottom: 125px;
}
.slogan__subtitle {
  max-width: 470px;
  padding: 0;
  margin: 0 auto;

  font-size: 21px;
  font-weight: 700;
  color: var(--basic-dark);
}

.reasons ul {
  list-style-type: none;
}
.reasons__item {
  background-color: var(--second-light);
}
.reasons__item--blue {
  background-color: var(--basic-blue);
}
.reasons__item--blue > .reasons-item__list {
  background-color: var(--basic-light);
}
.reasons-item__title,
.reasons-item-item__title {
  font-size: 21px;
  font-weight: 700;
  color: var(--basic-dark);
}
.reasons__item--blue .reasons-item__number,
.reasons__item--blue .reasons-item__text,
.reasons__item--blue .reasons-item__title {
  color: var(--basic-light);
}

.search {
  line-height: 24px;
  font-weight: 700;
}
.search__title {
  font-size: 30px;
  color: var(--basic-dark);
}
.search__text {
  margin-bottom: 65px;

  font-weight: 400;
}
.search__link {
  padding: 30px 125px;
}
.search__link,
.result-item__button--book {
  color: var(--basic-light);

  background-color: var(--basic-brown);
  text-decoration: none;
}
.search__link,
.form-search__button {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}
.search__link:hover,
.result-item__button--book:hover {
  background-color: var(--hover-brown);
}
.search__link:active,
.result-item__button--book:active {
  background-color: var(--second-brown);
}
.search__link:active > span,
.result-item__button--book:active > span {
  opacity: 0.3;
}

.popup {
  margin-top: 29px;
}
.form-search__input{
  background-color: var(--basic-form);
  border: 2px solid var(--basic-form);
}
.form-search__input:hover {
  background-color: var(--hover-form);
  border: 2px solid var(--basic-form);
}
.form-search__input:focus {
  background-color: var(--basic-light);
  border: 2px solid var(--second-form);
}
.form-search__input + svg:hover > path {
  fill: var(--basic-dark);
}
.form-search__input + svg:active > path {
  fill: var(--basic-blue);
}
.popup,
.form-search__input[value] {
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-dark);
}
.form-search__button {
  padding: 16px 180px;
}
.form-search__button,
.result-item__button--detail {
  color: var(--basic-light);

  background-color: var(--basic-blue);
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}
.form-search__button:hover,
.result-item__button--detail:hover {
  background-color: var(--hover-blue);
}
.form-search__button:active,
.result-item__button--detail:active {
  background-color: var(--second-blue);
}
.form-search__button:active > span,
.result-item__button--detail:active > span {
  opacity: 0.3;
}

.footer {
  max-width: 1200px;
}
.footer,
.contacts-item__tel,
.contacts-item__inst {
  color: var(--basic-dark);
}
.footer ul {
  list-style: none;
}
.contacts {
  text-align: left;
}
.contacts,
.contacts-item {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}
.contacts-item__tel,
.contacts-item__inst {
  text-decoration: none;
}

.social-item__link {
  color: var(--basic-light);

  background-color: var(--basic-blue);
  text-decoration: none;
}
.social-item__link:hover,
.social-item__link:focus {
  background-color: var(--hover-blue);
}
.social-item__link:active {
  background-color: var(--second-blue);
}
.social-item__link:active > svg,
.developers__link:active > svg {
  opacity: 0.3;
}

.developers {
  text-align: right;
}

.developers__logo:hover path {
  fill: var(--basic-blue);
}

/* стили для страницы каталога*/

.selection {
  max-width: 1200px;
  margin: 0 auto;

  color: var(--basic-light);

  background: var(--basic-blue) url("../img/background-catalog.jpg") no-repeat 0 top;
}
.selection-form__title {
  font-size: 16px;
  font-weight: 700;
}
.selection-form-cost__input[value] {
  color: var(--basic-light);

  background-color: var(--input-catalog);
  border: none;
}
.selection-form__button-search {
  padding: 7px 36px;

  color: inherit;

  background-color: var(--input-catalog);
  border: 2px solid var(--basic-light);
  border-radius: 2px;
  text-transform: uppercase;
  cursor: pointer;
}
.selection-form__button-search:hover,
.selection-form__button-search:active,
.selection-form__button-search:focus {
  color: var(--basic-dark);

  background-color: var(--basic-light);
}
.selection-form__list {
  list-style: none;
}

.sorting {
  text-align: left;
}
.sorting__item-search {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  list-style: none;
}
.sorting__item{
  list-style: none;
}
.sorting__item,
.sorting__item a {
  font-size: 12px;
  line-height: 18px;
}
.sorting__item a {
  color: var(--basic-dark);

  border-bottom: 1px dashed var(--basic-blue);
  text-decoration: none;
  opacity: 0.5;
}
.sorting__item a:hover {
  color: var(--basic-blue);

  opacity: 1;
}
.sorting__item a:active {
  color: var(--basic-dark);

  border-bottom: none;
  opacity: 1;
}
.sorting__item-right {
  text-align: right;
}
.sorting__list > .sorting__item + .sorting__item:nth-child(2) a {
  color: var(--basic-blue);

  border-bottom: none;
  opacity: 1;
}

.result__item {
  list-style: none;
}
.result-item__button--book,
.result-item__button--detail {
  padding: 3px 16px;

  font-weight: 700;
}
.result-item__button--detail,
.result-item__link {
  text-decoration: none;
}
.result-item__link {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-dark);
}
.result-item__link:hover,
.result-item__link:focus,
.contacts-item__tel:hover,
.contacts-item__tel:focus,
.contacts-item__inst:hover,
.contacts-item__inst:focus {
  color: var(--basic-blue);
}
.result-item__link:active > .result-item__title,
.contacts-item__tel:active,
.contacts-item__inst:active {
  color: var(--basic-dark);

  opacity: 0.3;
}
.result-item__rating {
  width: 110px;
  padding: 3px 0px;

  color: var(--rating-color);

  background-color: var(--basic-form);
}
